<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MwD</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename = 'lib/animate/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename = 'lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar & Hero Start -->
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
          <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0">MWD</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="fa fa-bars"></span></button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
              <a href="/" class="nav-item nav-link active">Beranda</a>
              <a href="#statistik" class="nav-item nav-link">Statistik</a>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pengetahuan</a>
                <div class="dropdown-menu m-0">
                  <a href="/jenissampah" class="dropdown-item">Jenis</a>
                  <a href="#" class="dropdown-item">Harga</a>
                  <a href="#" class="dropdown-item">Produk</a>
                  <a href="#video" class="dropdown-item">Edukasi</a>
                </div>
              </div>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pengelola</a>
                <div class="dropdown-menu m-0">
                  <a href="#tps" class="dropdown-item">TPS</a>
                  <a href="#" class="dropdown-item">BankSampah</a>
                </div>
              </div>
              <a href="#" class="nav-item nav-link">Tentang</a>
              <a href="#" class="nav-item nav-link">Contact</a>
            </div>
          </div>
        </nav>
        <div class="container-xxl bg-primary hero-header">
          <div class="container">
            <div class="row g-5 align-items-center">
              <div class="col-lg-6 text-center text-lg-start">
                <h4 class="text-white pb-3 animated zoomIn">Temukan Pengetahuan tentang Sampah dengan Mudah</h4>
                <h1 class="text-white mb-4 animated zoomIn">Peduli Lingkungan Bersama Kami!</h1>
                <a href="" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Learn More</a>
              </div>
              <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid animated zoomIn" src="img/hero.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      <!-- Navbar & Hero End -->
      <!-- Statistik Start -->
      <div class="container-xxl py-6">
        <div class="container" id="statistik">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
              <div class="diagram">
                <div class="d1"><a>2019</a></div>
                <div class="d2">2020</div>
                <div class="d3">2021</div>
                <div class="d4">2022</div>
                <div class="d5">2023</div>
              <ul class="diagrambatang">
                <li><div>79.684 ton</div></li>
                <li><div>79.366 ton</div></li>
                <li><div>79.049 ton</div></li>
                <li><div>78.733 ton</div></li>
                <li><div>73.042 ton</div></li>
                <li><div>70.000 ton</div></li>
              </ul>
            </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <h2 class="mb-4">Data Timbulan Sampah di Kota Tegal</h2>
              <p class="justify">Berdasarkan data dari Dinas Lingkungan Hidup Kota Tegal, 
                Dalam lima tahun terakhir, Kota Tegal telah menyaksikan peningkatan yang signifikan dalam timbulan sampah.
                 Data yang tercatat sejak tahun 2019 hingga 2023 menunjukkan bahwa sampah yang dihasilkan oleh masyarakat semakin bertambah dari tahun ke tahun.
                  Ini menjadi peringatan serius akan tantangan lingkungan yang sedang dihadapi. </p>
              <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Statistic End -->
      <!-- pengetahuan -->
      <section id="features" class="features-area">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center">
                <h4 class="sub-title">Sampahmu bisa jadi Cuan?</h4>
                <h3 class="title">Bagaimana caranya?</h3>
              </div>
            </div>
          </div>
          <div class="features-wrapper">
            <div class="row">
              <div class="col-lg-4">
                <div class="single-features features-2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.2s">
                  <span class="features-number">01</span>
                  <div class="features-icon">
                    <img src="{{ url_for('static', filename = 'img/tanya.png') }}" alt class="filter-icon" width="120px" />
                  </div>
                  <div class="features-content">
                    <h4 class="features-title"><a href="/jenissampah">Apa Sampahmu?</a></h4>
                    <p>Jenis sampah yang bisa menghasilkan uang adalah sampah berikut...</p>
                  </div>
                  <div class="features-btn">
                    <a href="/jenissampah"><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-features features-2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s">
                  <span class="features-number">02</span>
                  <div class="features-icon">
                    <img src="{{ url_for('static', filename = 'img/uang.png') }}" alt class="filter-icon" width="120px" />
                  </div>
                  <div class="features-content">
                    <h4 class="features-title"><a href="#">Berapa harganya?</a></h4>
                    <p>jika kalian tau, Sampah memiliki harga..</p>
                  </div>
                  <div class="features-btn">
                    <a href="#"><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-features features-2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
                  <span class="features-number">03</span>
                  <div class="features-icon">
                    <img src="{{ url_for('static', filename = 'img/olah.png') }}" alt class="filter-icon" width="120px" />
                  </div>
                  <div class="features-content">
                    <h4 class="features-title"><a href="#">Kemana Sampahmu?</a></h4>
                    <p>Kamu bisa memilah sisa produkmu dan dapat bermanfaat untuk ini</p>
                  </div>
                  <div class="features-btn">
                    <a href="#"><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Pengetahuan end-->
      <!--video -->
      <section id="video" class="video-area">
        <div class="container-xxl py-6">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <!-- Sisipkan video YouTube menggunakan iframe -->
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/UBw9T6IspVc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-inline-block border rounded-pill text-primary px-4 mb-3" ><a style="color: aliceblue;">Video Edukasi</a></div>
                <h1>Kita masih di Bumi</h1>
                <p class="justify" style="color: aliceblue;">Di masa depan, kita akan menghadapi tantangan besar terkait sampah. Dengan pertumbuhan populasi dan perubahan gaya hidup, timbulan sampah semakin meningkat. Namun, ini juga menjadi peluang untuk mengubah pola konsumsi kita. Dengan tindakan yang tepat, kita dapat menciptakan masa depan yang lebih berkelanjutan. Mari bersama-sama berkontribusi dalam mengelola sampah dan merawat bumi kita untuk generasi mendatang.</p>
              </div>
          </div>
        </div>
      </div>
      </section>
      <!--video end-->
      <!--tps-->
      <section id="tps" class="tps-area" style="background-color: white;">
        <div class="container">
          <div class="row justify-content-text-left">
            <div class="col-lg-6">
              <div class="section-title text-left">
                <h6 class="sub-title">Dimana kita bisa membuang sampah?</h6>
                <h3 class="title">Temukan TPS terdekatmu!</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-12 wow fadeInUpBig" data-wow-duration="1s">
			<div class="card mt-4">
				<div class="card-body">
					<div wire:id="v3UnD6PrgtCZsHj6q1ve" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;v3UnD6PrgtCZsHj6q1ve&quot;,&quot;name&quot;:&quot;tps&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;\/&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/terminalsampah.walhi.or.id&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;d785f709&quot;,&quot;data&quot;:{&quot;name&quot;:null,&quot;provId&quot;:null,&quot;kabId&quot;:null,&quot;kecId&quot;:null,&quot;desaId&quot;:null,&quot;page&quot;:1,&quot;paginators&quot;:{&quot;page&quot;:1}},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;afe643e95e110dfc875d6148039e22138cee36fa9d5d6beae28b5f3d939e4806&quot;}}" class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="input-group mb-3">
										<input type="text" name="q" class="form-control" placeholder="Nama TPS" aria-describedby="basic-addon2" value wire:model.debounce.500ms="name"></div>
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-inverse">
								<thead class="thead-inverse">
								<th>Nama TPS</th>
								<th>Alamat</th>
								<th>Kabupaten/Kota</th>
								<th>Kecamatan</th>
								<th>Desa</th>
								</thead>
								<tbody>
								<tr>
									<td>TPA Muarareja</td>
									<td>Muarareja </td>
									<td>Kota Tegal</td>
									<td>Tegal Barat</td>
									<td>-</td>
									
								</tr>
								<tr>
									<td>TPS Slerok</td>
									<td>Slerok, Kec. Tegal Tim., </td>
									<td>Kota Tegal</td>
									<td>Tegal Timur</td>
									<td>-</td>
									
								</tr>
								<tr>
									<td>TPS Keturen</td>
									<td>Keturen</td>
									<td>Kota Tegal</td>
									<td>Tegal Selatan</td>
									<td>-</td>
									
								</tr>
								<tr>
									<td>TPST Debong Kulon</td>
									<td>Jl. Samadikun, Debong Kidul</td>
									<td>Kota Tegal</td>
									<td>Tegal Selatan</td>
									<td>Debong</td>
									
								</tr>
								<tr>
									<td>TPST RAPI JAYA PESKID</td>
									<td> Jl. Pendidikan, Pesurungan Kidul</td>
									<td>Kota Tegal</td>
									<td>Tegal Barat</td>
									<td>Pesurungan</td>
									
								</tr>
								<tr>
									<td>TPS Kaligayam</td>
									<td>Sawah, Kaligayam, Kec. Talang</td>
									<td>Kab. Tegal</td>
									<td>Kec. Talang</td>
									<td>Kaligayam</td>
								</tr>
								<tr>
									<td>TPS Pesarean</td>
									<td>Jl. Raya Singkil, Kb. Baru, Adiwerna</td>
									<td>Kab. Tegal</td>
									<td>Kec. Adiwerna</td>
									<td>Adiwerna</td>
									
								</tr>
								<tr>
									<td>TPS Pasar Trayeman Slawi</td>
									<td>Jl. Ps. Tayeman No.33-17, Griya Trayeman, Trayeman</td>
									<td>Kab. Tegal</td>
									<td>Kec. Slawi</td>
									<td>Trayeman</td>
									
								</tr>
								<tr>
									<td>TPS 3 R Maribaya</td>
									<td>Kemaribaya, Area Sawah/Kebun, Maribaya</td>
									<td>Kab. Tegal</td>
									<td>Kec. Kramat</td>
									<td>Maribaya</td>
									
								</tr>
								</tbody>
								</table>
								<div>
									<nav>
									<ul class="pagination">
										<li class="page-item disabled" aria-disabled="true" aria-label="&laquo; Previous">
											<span class="page-link" aria-hidden="true">&lsaquo;</span>
										</li>
										<li class="page-item active" wire:key="paginator-page-1-page-1" aria-current="page">
											<span class="page-link">1</span>
										</li>
										<li class="page-item" wire:key="paginator-page-1-page-2">
											<button type="button" class="page-link" wire:click="gotoPage(2, 'page')">2</button>
										</li>
										<li class="page-item disabled" aria-disabled="true">
											<span class="page-link">...</span>
										</li>
										<li class="page-item">
											<button type="button" dusk="nextPage" class="page-link" wire:click="nextPage('page')" wire:loading.attr="disabled" rel="next" aria-label="Next &raquo;">&rsaquo;</button>
										</li>
									</ul>
									</nav>
        </div>
      </section>
      <!--tps end-->
      <!-- Testimonial Start -->
      <div class="container-xxl py-6 bg-white">
        <div class="container">
          <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
            <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">BankSampah</div>
            <h2 class="mb-5">kita bisa menjualnya disini!</h2>
          </div>
          <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" />
                <div class="ps-3">
                  <h6 class="mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" />
                <div class="ps-3">
                  <h6 class="mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" />
                <div class="ps-3">
                  <h6 class="mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" />
                <div class="ps-3">
                  <h6 class="mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->

      <!-- Team Start -->
      <div class="container-xxl py-6">
        <div class="container">
          <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
            <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Our Team</div>
            <h2 class="mb-5">Tim Capston Projek</h2>
          </div>
          <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="team-item">
                <h5>Nurul Febi Anisa</h5>
                <p class="mb-4">21090032</p>
                <img class="img-fluid rounded-circle w-100 mb-4" src="img/team-1.jpg" alt="" />
                <div class="d-flex justify-content-center">
                  <a class="btn btn-square text-primary bg-white m-1" href="https://www.instagram.com/wvt_zxy"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-github"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item">
                <h5>Fadila Rizka Nur A</h5>
                <p class="mb-4">21090037</p>
                <img class="img-fluid rounded-circle w-100 mb-4" src="img/team-2.jpg" alt="" />
                <div class="d-flex justify-content-center">
                  <a class="btn btn-square text-primary bg-white m-1" href="https://www.instagram.com/_ffadila/"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href="https://github.com/iamFariz"><i class="fab fa-github"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href="https://www.linkedin.com/in/fadila-rizka-7515a6249/"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item">
                <h5>Hasnita Rani Kumala</h5>
                <p class="mb-4">21090092</p>
                <img class="img-fluid rounded-circle w-100 mb-4" src="img/team-3.jpg" alt="" />
                <div class="d-flex justify-content-center">
                  <a class="btn btn-square text-primary bg-white m-1" href="https://www.instagram.com/hvraann"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-github"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item">
                <h5>Kartika Deviani</h5>
                <p class="mb-4">21090097</p>
                <img class="img-fluid rounded-circle w-100 mb-4" src="img/team-4.jpg" alt="" />
                <div class="d-flex justify-content-center">
                  <a class="btn btn-square text-primary bg-white m-1" href="https://www.instagram.com/gingerz00"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-github"></i></a>
                  <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team End -->

      <!-- Footer Start -->
      <footer class="footer">
        <div class="container">
            <div class="footer-content">
                &copy; Sesampah All Right Reserved. Designed By Fadila Rizka
                
            </div>
        </div>
      </footer>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename = 'lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body>
</html>
